<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="en-US">
<head>
<meta charset="UTF-8" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Son Tung MTP </title>
<meta name="description" content="Sản phẩm demo nằm trong KHÓA HỌC LẬP TRÌNH NODEJS tại Khoa Phạm | KhoaPham.Vn" />
<meta name="fragment" content="!">
<meta name='robots' content='index,follow' />
<link rel='stylesheet' id='generalStyle-css'  href='style_dark.css' type='text/css' media='all' />
<link rel='stylesheet' id='modal-css'  href='js/prettyPhoto/css/prettyPhoto.css' type='text/css' media='all' />
<script type='text/javascript' src='js/jquery-1.7.min.js'></script>
<script type='text/javascript' src='js/jquery.easing.1.3.js'></script>
<script type='text/javascript' src='js/prettyPhoto/js/jquery.prettyPhoto.js'></script>
<script type='text/javascript' src='js/jquery.quicksand.js'></script>
<script type="text/javascript" src="js/jquery.history.js"></script>
<script type='text/javascript' src="main.js"></script>
<link rel="shortcut icon" type="image/x-icon" href="images/favicon_dark.ico">
<script type='text/javascript'>
var bgTime = 5000;
var bgPaused=false;
var menuTime = 600;
var autoPlay = false;
var loop = true;
var twtTime = 3000;
var prettyTheme = 'dark_square';
var normalFade = true;
var frontPage = '';
var btnSoundURL = '';
var menuPositionFixed = false;

var videoPaused = false;
var menuAlwaysOpen = false;
var bgStretch = true;
</script>
<script type='text/javascript' src="js/froogaloop2.min.js"></script>
</head>
<body>
<div id="body-wrapper">

	<div id="bgImage"><div id="bgImageWrapper"></div></div>
	<div id="bgPattern"></div>
	<div id="bgText"><h3></h3><div class="subText"></div></div>
	<div id="content">
		<div id="contentBox"></div>
		<div id="contentLoading">
			<div id="CtLoading">
				Loading<br/>
				<img src="images/loading1.gif" width="80" height="10" alt="" />
			</div>
		</div>
	</div>

	<ul id="bgImages">

		<li>
			<img class="thumb" src="images/logoSmall/1.jpg" alt="" />
			<iframe src="https://player.vimeo.com/video/184293723?api=1&amp;title=0&amp;byline=0&amp;portrait=0" videotype="vimeo" width="400" height="225" frameborder="0" webkitAllowFullScreen allowFullScreen></iframe>
			<h3>Chúng ta không thuộc về nhau</h3>
			<p>Niềm tin đã mất, giọt nước mắt cuốn kí ức anh chìm sâu. Tìm về nơi đâu, cô đơn đôi chân lạc trôi giữa bầu trời </p>
		</li>

		<li>
			<img class="thumb" src="images/logoSmall/2.jpg" alt="" />
			<iframe src="http://player.vimeo.com/video/184294335?api=1&amp;title=0&amp;byline=0&amp;portrait=0" videotype="vimeo" width="400" height="225" frameborder="0" webkitAllowFullScreen allowFullScreen></iframe>
			<h3>Making the show...</h3>
			<p></p>
		</li>

		<li>
			<img class="thumb" src="images/logoSmall/3.png" alt="" />
			<iframe src="http://player.vimeo.com/video/184294334?api=1&amp;title=0&amp;byline=0&amp;portrait=0" videotype="vimeo" width="400" height="225" frameborder="0" webkitAllowFullScreen allowFullScreen></iframe>
			<h3>Không phải dạng vừa đâu</h3>
			<p>Ở sau bờ vai là những sầu lo, hình như đuổi theo là những nỗi lo</p>
		</li>

		<li>
			<img class="thumb" src="images/logoSmall/4.jpg" alt="" />
			<iframe src="http://player.vimeo.com/video/184293722?api=1&amp;title=0&amp;byline=0&amp;portrait=0" videotype="vimeo" width="400" height="225" frameborder="0" webkitAllowFullScreen allowFullScreen></iframe>
			<h3>Buông đôi tay nhau ra</h3>
			<p>Cứ quên anh vậy đi, nhạt nhoà sương tan ái ân mây trôi buồn</p>
		</li>

		<li>
			<img class="thumb" src="images/logoSmall/5.jpg" alt="" />
			<iframe src="http://player.vimeo.com/video/184293726?api=1&amp;title=0&amp;byline=0&amp;portrait=0" videotype="vimeo" width="400" height="225" frameborder="0" webkitAllowFullScreen allowFullScreen></iframe>
			<h3>Cơn mưa ngang qua</h3>
			<p>Còn đâu đây bao câu ca anh tặng em, tình yêu em mang cuốn lấp đi bao nhiêu câu ca. </p>
		</li>

		<li>
			<img class="thumb" src="images/logoSmall/6.jpg" alt="" />
			<iframe src="http://player.vimeo.com/video/184293717?api=1&amp;title=0&amp;byline=0&amp;portrait=0" videotype="vimeo" width="400" height="225" frameborder="0" webkitAllowFullScreen allowFullScreen></iframe>
			<h3>Ấn nút nhớ, thả giấc mơ</h3>
			<p>Sinh con ra bằng câu hát ru quen thuộc, dìu đôi chân mong con lớn khôn.</p>
		</li>

		<li>
			<img class="thumb" src="images/logoSmall/7.jpg" alt="" />
			<iframe src="http://player.vimeo.com/video/184293715?api=1&amp;title=0&amp;byline=0&amp;portrait=0" videotype="vimeo" width="400" height="225" frameborder="0" webkitAllowFullScreen allowFullScreen></iframe>
			<h3>Làm người luôn yêu em</h3>
			<p>Xin yêu mình em nguyện yêu mãi em. Thấy em tươi cười mãi là lòng anh thấy vui </p>
		</li>

		<li>
			<img class="thumb" src="images/logoSmall/8.jpg" alt="" />
			<iframe src="http://player.vimeo.com/video/184294379?api=1&amp;title=0&amp;byline=0&amp;portrait=0" videotype="vimeo" width="400" height="225" frameborder="0" webkitAllowFullScreen allowFullScreen></iframe>
			<h3>Khuôn mặt đáng thương</h3>
			<p>Đôi môi này đi về ai? Ok đêm nay sẽ là 1 đêm thật tuyệt. Yes, Sir. Sơn Tùng M.T.P</p>
		</li>

		<li>
			<img class="thumb" src="images/logoSmall/9.png" alt="" />
			<iframe src="http://player.vimeo.com/video/184294332?api=1&amp;title=0&amp;byline=0&amp;portrait=0" videotype="vimeo" width="400" height="225" frameborder="0" webkitAllowFullScreen allowFullScreen></iframe>
			<h3>Chắc ai đó sẽ về</h3>
			<p>Anh tìm nỗi nhớ....Anh tìm quá khứ. Nhớ lắm kí ức anh và em...</p>
		</li>

		<li>
			<img class="thumb" src="images/logoSmall/10.jpg" alt="" />
			<iframe src="http://player.vimeo.com/video/184294333?api=1&amp;title=0&amp;byline=0&amp;portrait=0" videotype="vimeo" width="400" height="225" frameborder="0" webkitAllowFullScreen allowFullScreen></iframe>
			<h3>Âm thầm bên em</h3>
			<p>Khi bên anh em thấy điều chi, khi bên anh em thấy điều gì</p>
		</li>

		<li>
			<img class="thumb" src="images/logoSmall/11.jpg" alt="" />
			<iframe src="http://player.vimeo.com/video/184293727?api=1&amp;title=0&amp;byline=0&amp;portrait=0" videotype="vimeo" width="400" height="225" frameborder="0" webkitAllowFullScreen allowFullScreen></iframe>
			<h3>Nắng ấm xa dần</h3>
			<p>Nắng ấm xa dần rồi, nắng ấm xa dần rồi. Nắng ấm xa dần bỏ rơi để lại những giấc mơ. </p>
		</li>



	</ul>

	<div id="menu-container">

		<div id="logo">
			<img src="images/logo.png" title="This Way FullScreen" />
		</div>

		<div id="mainmenu">
			<div class="menu-header">
				<ul id="menu-main-menu" class="menu">
					<li id="menu-item-1">
						<a href="./"><span class="title">Home</span></a>
					</li>
			</div>
		</div>

		<div id="menuOpener">Hi!</div>
		<div id="menuCloser">CLOSE</div>

	</div>

	<div id="footer">
		<div id="footertext"> Moị thông tin xin liên hệ:
			<div id="share">
			<ul>
				<li><a class="tip fb" href="https://www.facebook.com/tiep.phamvan.50702" tip-text="Facebook"></a></li>
				
			</ul>
		</div>
		 </div>
		<div id="share">	
		</div>
		<div id="bgControl">
			<a class="prev" href="javascript:void(0);" onclick="prevBg()"></a>
			<a class="play" href="javascript:void(0);" onclick="playBg()"></a>
			<a class="pause" href="javascript:void(0);" onclick="pauseBg()"></a>
			<a class="next" href="javascript:void(0);" onclick="nextBg()"></a>
		</div>

		

	</div>

</div>

<div id="bodyLoading">
	<div id="loading">
		Đang tải<br/>
		<img src="images/loading1.gif" width="80" height="" alt="loading" />
	</div>
</div>

</div>
</body>
</html>
